body{
  background-color:lightskyblue
}
.searchbar{
  margin-top:10%;
  display:flex;
  justify-content:center;
  align-items: center;
}

.weather-cards{
  display:flex;
  justify-content: center;
  align-items: center;
 
  
}
.weather-card{
 margin: 40px;
 padding:20px;
  background-color:white;
  box-shadow: 10px;
  border-radius: 10px;
  width:15vw
}
p{
  text-align: center;
}
h2{
  text-align: center;
}
input{
  height:40px;
  border-radius: 5px;
  width:300px;
}
button{
  background-color: rgb(16, 242, 31);
  height:40px;
  width:100px
 
}
